.video-container {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    width: 300px;
}

    input[type="text"]:focus {
        outline: none;
    }

/* Задание 27.6.3 - Уменьшение межстрочного интервала в блоке с копирайтом */
footer p {
    line-height: 0.67;
}

/* Задание 27.5.3 - Изменение фона всех элементов, кроме боковой панели */
body :not(.sidebar) {
    background-color: #f1f1f1;
}
